---
title: Blog
pagination:
    data: posts
    size: 5
    alias: post
    permalink: 'blog{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber }}{% endif %}/index.html'
    paginationPrevText: 'Newer posts'
    paginationNextText: 'Older posts'
---
{% include "./_includes/_head.html" %}

<body>
    {% include "./_includes/_navbar.html" %}

    <!-- Page Title -->
    <header class="container content" id="blog-header">
        <h1>Noble Living Blog</h1>
        <hr>
        <h3>Articles for Women Like YOU</h3>
    </header>

    {%- for post in posts -%}
    <section class="container">
            <div class="blog-card-container">
                <div class="blog-img-cont">
                    <img class="blog-img" src={{post.img.rendered }}
                        alt="" width="452" height="340">
                </div>
                <div class="section-text-cont">
                    <div class="section-text">
                        <h4 class="section-subtitle-left">{{ post.title.rendered }}</h4>
                        <p class="p-text">{{ post.excerpt.rendered }}</p>
                        <button type="button" href="./blog/{{ post.title.rendered | slug}}.html" class="blog-btn">Read More</button>
                    </div>
                </div>
            </div>
        </section>
    {%- endfor -%}

    {% if pagination.href.next or pagination.href.previous %}
  <footer class="[ pagination ] [ dot-shadow panel ] [ bg-light-glare font-sans weight-bold ]">
    <div class="wrapper">
      <nav class="pagination__inner" aria-label="Pagination links">
        {% if pagination.href.previous %}
          <a href="{{ pagination.href.previous }}{{ paginationAnchor }}" data-direction="backwards">
            <span>{{ paginationPrevText if paginationPrevText else 'Previous' }}</span>
          </a>
        {% endif %}
        {% if pagination.href.next %}
          <a href="{{ pagination.href.next }}{{ paginationAnchor }}" data-direction="forwards">
            <span>{{ paginationNextText if paginationNextText else 'Next' }}</span>
          </a>
        {% endif %}
      </nav>
    </div>
  </footer>
{% endif %}

     {% include "./_includes/_footer.html" %}